body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-bg {
  background-color: #EEf3F9 ;
}

.text-color {
  color: #5a108f ;
}

.text-color1 {
  color: #D4AA00;
}

.border-color {
  border-color: #5a108f;
}

.custom-bg-text {
  color: #EEf3F9;
}

.bg-color {
  background-color: #3393df;
}

.rounded-card {
  padding: 1.5em .5em .5em;
  border-radius: 2em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.form-card {
  padding: .2em .2em .2em;
  border-radius: 1em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.card {
  transition: transform 0.2s ease;
}

.card:hover .product-card {
  transform: scale(1.02);
}

h6 {
  overflow: hidden;
  text-align: center;
}

h6::before,
h6::after {
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h6::before {
  right: 0.5em;
  margin-left: -50%;
  background-color: #bcbcbc;
}

h6::after {
  left: 0.5em;
  margin-right: -50%;
  background-color: #bcbcbc;
}
